<div id="footer">
    <div class="container">
        <div class="footer">
            <div class="contact">
                <p>Контакты</p>
                <div class="number">
                    <img src="./img/icons/phone-receiver.png" alt="">
                    <a href="tel:+7 898 789-87-88">+7 898 789-87-88</a>
                </div>
                <div class="button_blue">
                    <a href="#">Обратный звонок</a>
                </div>
                <div class="address">
                    <p><img src="./img/icons/002-maps-and-flags.png" alt="">г. Город, ул. Название улицы 23</p>

                    <p><img src="./img/icons/envelope.png" alt=""><a href="mailto:гinfo@iqland.com">info@iqland.com</a></p>
                </div>
            </div>
            <div class="iq">
                <p>IQLand</p>
                <ul>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Курсы</a></li>
                    <li><a href="#">Вебинары</a></li>
                </ul>
            </div>
            <div class="r_colum">
                <p>IQLand</p>
                <ul>
                    <li><a href="#">Вопросы</a></li>
                    <li><a href="#">Поддержка</a></li>
                    <li><a href="#">Сообщество</a></li>
                    <li><a href="#">События</a></li>
                </ul>
            </div>
            <div class="podpis">
                <p>Подписка</p>
                <form action="#">
                    <div class="input">
                        <input type="email" placeholder="Email">
                        <button type="submit">Подписатся</button>
                    </div>
                </form>
                <div class="icon">
                    <a href="#" target="_blank"><img src="./img/icons/002-facebook-logo-button.png" alt=""></a>
                    <a href="#" target="_blank"><img src="./img/icons/003-youtube-symbol.png" alt=""></a>
                    <a href="#" target="_blank"><img src="./img/icons/001-instagram-logo.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='./js/compiled.js'></script>
<script src="./js/mask.js"></script>
<script src="./js/data_base.js"></script>
<script src="./js/main.js"></script>
<script src="./js/bundle.js"></script>

</body>
</html>