<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
<%= _.template(require('./../includes/menu.html'))(data) %>

<div class="modaling">
    <div class="modal fade" id="modalLoginForm_call" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="container">
            <form action="#">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">Узнать стоимость</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body mx-3">
                            <div class="md-form mb-5">
                                <input type="text" placeholder="Фамилия">
                                <input type="text" placeholder="Имя">
                                <input type="text" placeholder="Отчество">
                                <input type="text" id="phone_5" placeholder="Телефон">
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <div class="button_blue"><a href="#">Отправить</a></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    canvas {
        display: block;
        margin: 0 auto;
    }
</style>

<div id="ch_achievement">
    <div class="container">
        <div class="achievement">
            <div class="text_main">
                <p>Успеваемость</p>
                <span>Подробная статистика успеваемости</span>
            </div>

            <div class="card">
                <div class="user">
                    <div class="people">
                        <div class="img">
                            <p>В</p>
                        </div>
                        <div class="info">
                            <p>Вячеслав Шинкаренко </p>
                        </div>
                    </div>
                    <div class="tutor">
                        <p>25</p>
                        <span>Уроки</span>
                    </div>
                    <div class="pars">
                        <p>85%</p>
                        <span>Средняя оценка</span>
                    </div>
                    <div class="level">
                        <p>7</p>
                        <span>Уровень</span>
                    </div>

                </div>
            </div>

            <div class="card">
                <div class="group">
                    <div class="text">
                        <p>Ваша группа</p>
                    </div>
                    <div class="list">
                        <!-- Table  -->
                        <table id="dtBasicExample" class="table" cellspacing="0" width="100%">
                            <!-- Table head -->
                            <thead class="main">
                                <tr>
                                    <th class="th-sm" data-sort="timestamp">Место</th>
                                    <th class="th-sm">Имя</th>
                                    <th class="th-sm">Время</th>
                                    <th class="th-sm" style="color: #00aeef;">Качество <i class="fa fa-angle-down"></i></th>
                                </tr>
                            </thead>
                            <!-- Table head -->

                            <!-- Table body -->
                            <tbody>
                                <tr>
                                    <th class="one" scope="row ">
                                        <p>1</p>
                                    </th>
                                    <td>
                                        <p>Иван Иванов</p>
                                    </td>
                                    <td>
                                        <p>05:13</p>
                                    </td>
                                    <td>
                                        <p>97%</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="twe" scope="row">
                                        <p>2</p>
                                    </th>
                                    <td>
                                        <p>Иван Иванов</p>
                                    </td>
                                    <td>
                                        <p>05:13</p>
                                    </td>
                                    <td>
                                        <p>97%</p>
                                    </td>
                                </tr>
                                <tr class="activ">
                                    <th class="three" scope="row">
                                        <p>3</p>
                                    </th>
                                    <td>
                                        <p>Вячеслав Шинкаренко </p>
                                    </td>
                                    <td>
                                        <p>05:13</p>
                                    </td>
                                    <td>
                                        <p>97%</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <p>4</p>
                                    </th>
                                    <td>
                                        <p>Иван Иванов</p>
                                    </td>
                                    <td>
                                        <p>05:13</p>
                                    </td>
                                    <td>
                                        <p>97%</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <p>5</p>
                                    </th>
                                    <td>
                                        <p>Иван Иванов</p>
                                    </td>
                                    <td>
                                        <p>05:13</p>
                                    </td>
                                    <td>
                                        <p>97%</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <p>6</p>
                                    </th>
                                    <td>
                                        <p>Иван Иванов</p>
                                    </td>
                                    <td>
                                        <p>05:13</p>
                                    </td>
                                    <td>
                                        <p>57%</p>
                                    </td>
                                </tr>
                            </tbody>
                            <!-- Table body -->
                        </table>
                        <!-- Table  -->
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="diogram_1">
                    <div class="text">
                        <p>Статистика оценок</p>
                    </div>
                    <div class="dio">
                        <!-- Classic tabs -->
                        <div class="classic-tabs mx-2">

                            <!-- Nav tabs -->
                            <ul class="nav tabs-cyan" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link waves-light active" data-toggle="tab" href="#panel1001" role="tab">Весь
                                        период</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link waves-light" data-toggle="tab" href="#panel1002" role="tab">Неделя
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link waves-light" data-toggle="tab" href="#panel1003" role="tab">Месяц
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link waves-light" data-toggle="tab" href="#panel1004" role="tab">Пол
                                        года</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link waves-light" data-toggle="tab" href="#panel1005" role="tab">Год</a>
                                </li>
                            </ul>
                            <div class="tab-content border-right border-bottom border-left rounded-bottom">
                                <!--Panel 1-->
                                <div class="tab-pane fade in show active" id="panel1001" role="tabpanel">
                                    <canvas id="chart"></canvas>
                                </div>
                                <!--/.Panel 1-->
                                <!--Panel 2-->
                                <div class="tab-pane fade" id="panel1002" role="tabpanel">
                                    <canvas id="chart_1"></canvas>
                                </div>
                                <!--/.Panel 2-->
                                <!--Panel 3-->
                                <div class="tab-pane fade" id="panel1003" role="tabpanel">
                                    <canvas id="chart_2"></canvas>
                                </div>
                                <!--/.Panel 3-->
                                <!--Panel 4-->
                                <div class="tab-pane fade" id="panel1004" role="tabpanel">
                                    <canvas id="chart_3"></canvas>
                                </div>
                                <!--/.Panel 4-->
                                <!--Panel 5-->
                                <div class="tab-pane fade" id="panel1005" role="tabpanel">
                                    <canvas id="chart_4"></canvas>
                                </div>
                                <!--/.Panel 5-->
                            </div>

                        </div>
                        <!-- Classic tabs -->
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="diogram_1">
                    <div class="text">
                        <p>Скорость выполнения заданий</p>
                    </div>
                    <div class="dio">
                        <!-- Classic tabs -->
                        <div class="classic-tabs mx-2">

                            <!-- Nav tabs -->
                            <ul class="nav tabs-cyan" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link waves-light active" data-toggle="tab" href="#panel1006" role="tab">Весь
                                        период</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link waves-light" data-toggle="tab" href="#panel1007" role="tab">Неделя</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link waves-light" data-toggle="tab" href="#panel1008" role="tab">Месяц</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link waves-light" data-toggle="tab" href="#panel1009" role="tab">Пол
                                        года</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link waves-light" data-toggle="tab" href="#panel1010" role="tab">Год</a>
                                </li>
                            </ul>
                            <div class="tab-content border-right border-bottom border-left rounded-bottom">
                                <!--Panel 1-->
                                <div class="tab-pane fade in show active" id="panel1006" role="tabpanel">
                                    <canvas id="chart_yellow"></canvas>
                                </div>
                                <!--/.Panel 1-->
                                <!--Panel 2-->
                                <div class="tab-pane fade" id="panel1007" role="tabpanel">
                                    <canvas id="chart_6"></canvas>
                                </div>
                                <!--/.Panel 2-->
                                <!--Panel 3-->
                                <div class="tab-pane fade" id="panel1008" role="tabpanel">
                                    <canvas id="chart_10"></canvas>
                                </div>
                                <!--/.Panel 3-->
                                <!--Panel 4-->
                                <div class="tab-pane fade" id="panel1009" role="tabpanel">
                                    <canvas id="chart_11"></canvas>
                                </div>
                                <!--/.Panel 4-->
                                <!--Panel 4-->
                                <div class="tab-pane fade" id="panel1010" role="tabpanel">
                                    <canvas id="chart_12"></canvas>
                                </div>
                                <!--/.Panel 4-->
                            </div>

                        </div>
                        <!-- Classic tabs -->
                    </div>
                </div>
            </div>

            <div class="dbl_card">
                <div class="card">
                    <div class="text">
                        <p>Уровни</p>
                    </div>
                    <div class="line_scroll">
                        <div class="lines">
                            <div class="back_01" style="height: 40%;">
                                <div class="parsent">
                                    <p>40%</p>
                                </div>
                            </div>
                            <p>1</p>
                        </div>

                        <div class="lines">
                            <div class="back_02" style="height: 5%;">
                                <div class="parsent">
                                    <p>5%</p>
                                </div>
                            </div>
                            <p>2</p>
                        </div>
                        <div class="lines">
                            <div class="back_03" style="height: 55%;">
                                <div class="parsent">
                                    <p>55%</p>
                                </div>
                            </div>
                            <p>3</p>
                        </div>
                        <div class="lines">
                            <div class="back_04" style="height: 87%;">
                                <div class="parsent">
                                    <p>87%</p>
                                </div>
                            </div>
                            <p>4</p>
                        </div>
                        <div class="lines">
                            <div class="back_05" style="height: 32%;">
                                <div class="parsent">
                                    <p>32%</p>
                                </div>
                            </div>
                            <p>5</p>
                        </div>
                        <div class="lines">
                            <div class="back_06" style="height: 25%;">
                                <div class="parsent">
                                    <p>25%</p>
                                </div>
                            </div>
                            <p>6</p>
                        </div>
                        <div class="lines">
                            <div class="back_07" style="height: 95%;">
                                <div class="parsent">
                                    <p>95%</p>
                                </div>
                            </div>
                            <p>7</p>
                        </div>
                        <div class="lines">
                            <div class="back_08" style="height: 87%;">
                                <div class="parsent">
                                    <p>87%</p>
                                </div>
                            </div>
                            <p>8</p>
                        </div>
                        <div class="lines">
                            <div class="back_09" style="height: 15%;">
                                <div class="parsent">
                                    <p>15%</p>
                                </div>
                            </div>
                            <p>9</p>
                        </div>
                        <div class="lines">
                            <div class="back_10" style="height: 46%;">
                                <div class="parsent">
                                    <p>46%</p>
                                </div>
                            </div>
                            <p>10</p>
                        </div>
                    </div>
                </div>

                <div class="card card_c2">
                    <div class="text">
                        <p>Лучшый результат</p>
                    </div>

                    <div class="dio_circle">
                        <div class="text">
                            <p>Уровень 1</p>
                            <span>Домашняя работа №3</span>
                        </div>
                        <div class="dio">
                            <div class="diogram">
                                <p><span class="min-chart" id="chart-sales" data-percent="100"><span class="percent"></span></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="dio_circle">
                        <div class="text">
                            <p>Уровень 2</p>
                            <span>Домашняя работа №5</span>
                        </div>
                        <div class="dio">
                            <div class="diogram">
                                <p><span class="min-chart" id="chart-sales" data-percent="100"><span class="percent"></span></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="dio_circle">
                        <div class="text">
                            <p>Уровень 3</p>
                            <span>Домашняя работа №1</span>
                        </div>
                        <div class="dio">
                            <div class="diogram">
                                <p><span class="min-chart" id="chart-sales" data-percent="100"><span class="percent"></span></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<%= _.template(require('./../includes/footer.html'))(data) %>   