<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
<%= _.template(require('./../includes/menu.html'))(data) %>

<div id="ch_tutorial">
    <div class="container">
        <div class="tutorial future_tutorial">
            <div class="text">
                <div class="text_pos">
                    <h2>Уроки</h2>
                    <p>Перечень доступных уроков</p>
                </div>
            </div>
            <div class="card">
                <div class="colc">
                    <div class="data">
                        <div class="number">
                            <h3>14</h3>
                            <div>
                                <p>среда</p>
                                <span>мая 2018</span>
                            </div>
                        </div>
                        <p>10:00 - 11:00</p>
                    </div>
                    <div class="text">
                        <div class="pos_1">
                            <div class="text_left">
                                <p>Основы ментальной арифметики для детей</p>
                                <span>Любые задатки, которые генетически заложены в маленьком человеке, благодаря этому
                                    обучению, получают активное развитие. Ментальная арифметика берёт своё начало в
                                    древней Японии, где уже тогда с помощью абакуса, специальных счётов, дети могли
                                    улучшать свою память, производить в уме сложные расчёты, тренировать внимание и
                                    концентрацию.</span>
                            </div>
                        </div>
                        <div class="pos_2">
                            <div class="button_blue grey">
                                <a href="#">Присоединиться</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tich">
                    <div class="post">
                        <p>Учитель</p>
                    </div>
                    <div class="user">
                        <div class="img">
                            <img src="../img/girl.png" alt="">
                        </div>
                        <div class="text">
                            <p>Мария Сокол</p>
                            <span>Инструктор по ментальной арифметике</span>
                        </div>
                    </div>
                </div>

                <!--
                <div class="pos_4">
                    <div class="text">
                        <p>Экзамен</p> <span>Новое</span>
                    </div>
                    <div class="diogram">
                        <p><span class="min-chart" id="chart-sales" data-percent="0"><span class="percent"></span></span></p>
                    </div>
                </div>
-->
            </div>
            <div class="center_p">
                <p>Классная работа</p>
            </div>
            <div class="card">
                <div class="pos_4">
                    <div class="text">
                        <p><span>Классная работа будет <br> доступна во время урока</span></p>
                    </div>
                    <div class="diogram">
                        <p><span class="min-chart" id="chart-sales" data-percent="0"><span class="percent"></span></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Material Select Initialization
    $(document).ready(function () {
        $('.mdb-select').material_select();
    });
</script>

<%= _.template(require('./../includes/footer.html'))(data) %>
