<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
<%= _.template(require('./../includes/menu.html'))(data) %>

<div id="h_work">
    <div class="container">
        <div class="h_work">
            <div class="text">
                <h3>Уроки>Домашняя работа №1> <span>Правильная техника</span></h3>
                <p>Домашняя работа №1</p>
                <span>Выберите категорию домашнего задания</span>
            </div>

            <div class="card">
                <div class="colc">
                    <div class="data">
                        <div class="number">
                            <h3>14</h3>
                            <div>
                                <p>среда</p>
                                <span>мая 2018</span>
                            </div>
                        </div>
                        <p>10:00 - 11:00</p>
                    </div>
                    <div class="text">
                        <div class="pos_1">
                            <div class="button_p">
                                <div class="button_green">
                                    <p>Выполните задание</p>
                                </div>
                                <div class="button_grey">
                                    <p>Пройден</p>
                                </div>
                            </div>
                            <p>Основы ментальной арифметики для детей</p>
                            <span>Любые задатки, которые генетически заложены в маленьком человеке, благодаря этому
                                обучению, получают активное развитие. Ментальная арифметика берёт своё начало в древней
                                Японии, где уже тогда с помощью абакуса, специальных счётов, дети могли улучшать свою
                                память, производить в уме сложные расчёты, тренировать внимание и концентрацию.</span>
                        </div>
                        <div class="pos_2">
                            <div class="button_blue">
                                <a href="#">Присоединиться</a>
                            </div>
                            <p>Переход на страницу трансляции</p>
                        </div>
                    </div>
                </div>
                <div class="tich">
                    <div class="post">
                        <p>Учитель</p>
                    </div>
                    <div class="user">
                        <div class="img">
                            <img src="../img/girl.png" alt="">
                        </div>
                        <div class="text">
                            <p>Мария Сокол</p>
                            <span>Инструктор по ментальной арифметике</span>
                        </div>
                    </div>
                </div>
                <div class="chart">
                    <div class="text">
                        <p>Помощники</p>
                    </div>
                    <div class="diogram">
                        <p><span class="min-chart" id="chart-sales" data-percent="0"><span class="percent"></span></span></p>
                    </div>
                </div>
                <div class="tech">
                    <div class="text">
                        <p>Правильная техника</p>
                    </div>
                    <div class="example">
                        <div class="exa">
                            <p>Упражнение <br>успешно завершено</p>
                            <div class="exa_c">
                                <div class="time">
                                    <p>Время<br> упражнения</p>
                                    <h2>12:35</h2>
                                    <span>минут</span>
                                </div>
                                <div class="assess">
                                    <p>Оценка</p>
                                    <span>76%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tech tech_ok">
                    <div class="text">
                        <p>Правильная техника</p>
                    </div>
                    <div class="example">
                        <div class="exa">
                            <p>Здравствуйте</p>
                            <span>Прочитайте внимательно вопросы и выберите один из предложенных вариантов ответов.</span>
                            <div class="button_blue">
                                <a href="#">Начать</a>
                            </div>
                        </div>
                    </div>
                    <div class="time">
                        <p>00:00</p>
                        <span>минут</span>
                    </div>
                </div>
                <div class="tech tech_ok tech_ok_c">
                    <div class="text">
                        <p>Правильная техника</p>
                        <span>Прочитайте внимательно вопрос и выберите один из предложенных вариантов ответов.</span>
                    </div>
                    <div class="example">
                        <div class="exa">
                            <p>1. Длинная чистка выполняется указательным пальцем правой руки слева направо по верхним
                                косточкам.</p>

                            <div class="if">
                                <div class="button_tarif">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-light-blue form-check-label active">
                                            <input class="form-check-input" type="radio" name="options" id="option1"
                                                autocomplete="off" checked><span>1</span> Да
                                        </label>
                                        <label class="btn btn-light-blue form-check-label">
                                            <input class="form-check-input" type="radio" name="options" id="option2"
                                                autocomplete="off"><span>2</span> Нет
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="button_group">
                                <div class="button_white">
                                    <a href="#">Назад</a>
                                </div>
                                <div class="button_blue">
                                    <a href="#">Далее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time">
                        <p>9:56</p>
                        <span>минут</span>
                    </div>
                </div>

                <div class="chart">
                    <div class="text">
                        <p>Примеры на абакусе</p>
                    </div>
                    <div class="diogram">
                        <p><span class="min-chart" id="chart-sales_yellow" data-percent="45"><span class="percent"></span></span></p>
                    </div>
                </div>
                <div class="chart">
                    <div class="text">
                        <p>Примеры ментально</p>
                    </div>
                    <div class="diogram">
                        <p><span class="min-chart" id="chart-sales_red" data-percent="38"><span class="percent"></span></span></p>
                    </div>
                </div>
                <div class="chart">
                    <div class="text">
                        <p>Флеш-карты</p>
                    </div>
                    <div class="diogram">
                        <p><span class="min-chart" id="chart-sales_yellow" data-percent="81"><span class="percent"></span></span></p>
                    </div>
                </div>
                <div class="chart">
                    <div class="text">
                        <p>Формулы</p>
                    </div>
                    <div class="diogram">
                        <p><span class="min-chart" id="chart-sales_red" data-percent="55"><span class="percent"></span></span></p>
                    </div>
                </div>
                <div class="chart">
                    <div class="text">
                        <p>Счет на слух</p>
                    </div>
                    <div class="diogram">
                        <p><span class="min-chart" id="chart-sales_yellow" data-percent="79"><span class="percent"></span></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Material Select Initialization
    $(document).ready(function () {
        $('.mdb-select').material_select();
    });
</script>

<%= _.template(require('./../includes/footer.html'))(data) %>
