<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
<%= _.template(require('./../includes/menu.html'))(data) %>

<div id="ch_payment">
    <div class="container">
        <div class="payment">
            <div class="text">
                <p>Курсы</p>
                <span>Перечень доступных курсов</span>
            </div>
            <div class="card">
                <div class="tarif">
                    <div class="tarif_s">
                        <p>Выберите тариф</p>

                        <div class="button_tarif">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-light-blue form-check-label active">
                                    <input class="form-check-input" type="radio" name="options" id="option1"
                                        autocomplete="off" checked> Индивидуальный
                                </label>
                                <label class="btn btn-light-blue form-check-label">
                                    <input class="form-check-input" type="radio" name="options" id="option2"
                                        autocomplete="off"> Группа до 3-х человек
                                </label>
                                <label class="btn btn-light-blue form-check-label">
                                    <input class="form-check-input" type="radio" name="options" id="option3"
                                        autocomplete="off"> Группа до 8-ми человек
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="week">
                        <p>Количество недель</p>

                        <div class="button_week">
                            <div class="ranger">
                                <form class="range-field">
                                    <span class="thumb">
                                        <p class="value">15</p>
                                    </span>
                                    <input type="range" min="1" max="30" step="1" oninput="showVal(this.value)"
                                        onchange="showVal(this.value)""/>
                                </form>
                            </div>
                            <div class="
                                        price">
                                    <p>Сума к оплате</p>
                                    <span id="parsent_1">92 000 ₸ </span>
                                    <h2 id="parsent_2">80 000 ₸ </h2>
                            </div>
                        </div>

                    </div>

                    <div class="payment_s">
                        <p>Способ оплаты</p>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-light-blue form-check-label active">
                                <input class="form-check-input" type="radio" name="options" id="option1" autocomplete="off"
                                    checked> <img src="./img/icons/Visa.png" alt="">
                            </label>
                            <label class="btn btn-light-blue form-check-label">
                                <input class="form-check-input" type="radio" name="options" id="option2" autocomplete="off">
                                <img src="./img/icons/master_card.png" alt="">
                            </label>
                            <label class="btn btn-light-blue form-check-label">
                                <input class="form-check-input" type="radio" name="options" id="option3" autocomplete="off">
                                <img src="./img/icons/maestro.png" alt="">
                            </label>
                            <label class="btn btn-light-blue form-check-label">
                                <input class="form-check-input" type="radio" name="options" id="option3" autocomplete="off">
                                <img src="./img/icons/union.png" alt="">
                            </label>
                        </div>
                    </div>

                    <div class="paypal">
                        <div class="text">
                            <p>Всего: </p><span>80 000 ₸ </span>
                        </div>
                        <div class="button_blue">
                            <a href="#">Оплатить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>
