<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
<%= _.template(require('./../includes/menu.html'))(data) %>

<div id="ch_tutorial">
    <div class="container">
        <div class="tutorial">
            <div class="text">
                <p>Уроки>Классная работа > <span>Флеш-Карты</span></p>
                <h2>Урок 1</h2>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <form action="#">
                        <div class="online_display">
                            <div class="online_frame">

                            </div>
                            <div class="button_blue">
                                <p>Голос</p>
                            </div>
                            <div class="online_block_comment">
                                <textarea name="#" id="" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-9">
                    <div class="center_p">
                        <p>Классная работа</p>
                    </div>

                    <div class="card_1 card">
                        <div class="pos_1">
                            <div class="text">
                                <p>Примеры на абакусе</p>
                            </div>
                            <div class="diogram">
                                <p><span class="min-chart" id="chart-sales" data-percent="95"><span class="percent"></span></span></p>
                            </div>
                        </div>
                        <div class="pos_2">
                            <div class="text">
                                <p>Флеш-Карты</p>
                            </div>
                            <div class="time">
                                <p>30:56</p>
                                <span>минут</span>
                            </div>
                        </div>
                        <div class="pos_3">
                            <div class="text">
                                <p>Дайте ответ на вопрос</p>
                            </div>
                            <div class="otvet">
                                <div class="img">
                                    <div class="img_c">
                                        <span>1.</span>
                                        <img src="./img/icons/otvet.png" alt="">
                                    </div>
                                    <div class="button">
                                        <p>Ваш ответ</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button">
                            <div class="button_white">
                                <p>Назад</p>
                            </div>
                            <div class="button_blue">
                                <p>Далее</p>
                            </div>
                        </div>
                        <div class="pos_4">
                            <div class="text">
                                <p>Счет в слух</p>
                            </div>
                            <div class="diogram">
                                <span class="min-chart" id="chart-sales" data-percent="85"><span class="percent"></span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>
