.online_display{
    width: 100%;
    height: 100%;
    position: relative;

    .online_frame{
        width: 100%;
        height: 200px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
        border-radius: 3px;
        margin-bottom: 15px;
    }
    p{
        margin: 0;
    }
    .button_blue{
        width: 100%;
    }
    textarea{
        margin-top: 15px;
        width: 100%;
        height: 100%;
        border: 0;
        padding: 15px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
        min-height: 50vh;
        max-height: 50vh;
        &:focus{
            outline: none;
        }
    }
}




// End





.dropdown-content.select-dropdown.w-100.active {
    border-radius: 22px;
    padding: 0;
    top: 46px !important;
    left: 0 !important;
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-content.select-dropdown.w-100.active li.active,
.dropdown-content.select-dropdown.w-100.active span:hover {
    background: #00aeef !important;
    border-radius: 30px;
    box-shadow: unset;
}

.btn-group .btn-light-blue:not([disabled]):not(.disabled).active {
    border-radius: 30px;
    border: 1px solid #00aeef;
    background-color: #ffffff !important;
    box-shadow: none;
    color: #00aeef !important;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    text-transform: none;
    padding: 10px 20px;
    height: auto;
    display: grid;
    align-items: center;
}

.picker--opened .picker__holder {
    position: static;
    z-index: 99999;
}

.btn-group .btn.btn-light-blue {
    color: #010101 !important;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    border-radius: 30px;
    border: 1px solid #e8e8e8;
    background-color: #ffffff !important;
    box-shadow: none;
    margin-right: 40px;
    text-transform: none;
    padding: 10px 20px;
    height: max-content;
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle),
.btn-group>.btn-group:not(:first-child)>.btn,
.btn-group>.btn:not(:first-child) {
    border-radius: 30px !important;
    display: grid;
    align-items: center;
    height: auto;
}

.colorful-select .dropdown-content li.active span {
    box-shadow: unset !important;
}

.dropdown-content li.active,
.dropdown-content li:hover {
    background-color: unset !important;
}

.dropdown-content li {
    span.filtrable {
        color: #010101;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 40px;
        padding: 0;
        padding-left: 15px;
    }
}

#ch_user_anketa .custom-checkbox .custom-control-input:checked~.custom-control-label::before,
#admin_room .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: unset;
    border: 1px solid #a0a0a0;
    border-radius: 30px;
}

#ch_user_anketa .custom-checkbox .custom-control-input:checked~.custom-control-label::after,
#admin_room .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url(../img/icons/check.png);
    background-size: 16px;
    background-position-x: 2px;
    z-index: 9999;
    background-position-y: 0px;
    width: 25px;
}

#ch_user_anketa .custom-checkbox .custom-control-label::before,
#admin_room .custom-checkbox .custom-control-label::before {
    border-radius: 30px;
    border: 1px solid #a0a0a0;
    background: unset;
}

// Global Var
.button_green {
    border-radius: 30px;
    background-color: #2ad474;
    width: max-content;

    p {
        color: #ffffff !important;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        padding: 5px 15px;
    }

    a {
        color: #ffffff !important;
        font-family: Montserr;
        font-size: 14px;
        font-weight: 600;
        padding: 5px 15px;
        text-decoration: none;
    }
}


.button_grey {
    border-radius: 30px;
    background-color: #e8e8e8 !important;
    width: max-content !important;
    height: max-content !important;
    margin-bottom: 25px;

    p {
        color: #757575 !important;
        font-family: Montserrat;
        font-size: 14px !important;
        font-weight: 600 !important;
        padding: 5px 15px !important;
        margin: 0 !important;
    }

    a {
        color: #757575 !important;
        font-family: Montserrat;
        font-size: 14px !important;
        font-weight: 600;
        padding: 5px 15px !important;
        text-decoration: none;
    }
}

.button_white {
    border-radius: 30px;
    border: 1px solid #00aeef;
    margin-bottom: 25px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;

    &:hover {
        background: #00aeef1c;
    }

    p {
        color: #00aeef;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        padding: 5px 15px;
        text-decoration: none;
    }

    a {
        color: #00aeef;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        padding: 5px 15px;
        text-decoration: none;
    }
}

.global_text {
    margin-top: 40px;
    margin-bottom: 30px;

    p {
        color: #000000;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 500;
        margin: 0;
    }

    span {
        color: #858585;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
    }

    h3 {
        color: #858585;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;

        span {
            color: #000000;
        }
    }
}

.button_red_v2 {
    border-radius: 30px;
    background-color: #fe173e;
    width: max-content;
    height: max-content;

    p {
        color: #ffffff !important;
        font-family: Montserrat;
        font-size: 14px !important;
        font-weight: 600;
        padding: 5px 15px !important;
        margin: 0 !important;
    }

    a {
        color: #ffffff !important;
        font-family: Montserr;
        font-size: 14px !important;
        font-weight: 600;
        padding: 5px 15px !important;
        text-decoration: none !important;
    }
}

.global_card {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 0;
    border-radius: 3px;
    overflow: hidden;

    .colc {
        display: grid;
        grid-template-columns: 1fr 4fr;
        border-left: 5px solid #7e80e5;
        padding: 10px;

        .data {
            padding: 30px;

            .number {
                display: grid;
                grid-template-columns: 1fr 2fr;
                align-items: center;
                margin-bottom: 30px;

                h3 {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 48px;
                    font-weight: 500;
                    margin-right: 15px;
                    line-height: 0;
                }

                p {
                    color: #858585;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                    margin: 0;
                }

                span {
                    color: #010101;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            p {
                color: #000000;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 500;
            }
        }

        .text {
            margin: 0;
            padding: 30px 40px;
            display: grid;
            grid-template-columns: 7fr 2fr;
            border-left: 1px solid #dcdcdc;
            padding-right: 20px;

            .pos_1 {
                .button_green {
                    @extend.button_green;
                    margin-bottom: 25px;
                }

                p {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 20px;
                    font-weight: 500;
                }

                span {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 24px;
                }
            }

            .pos_2 {
                text-align: center;

                a {
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 27px;
                }

                p {
                    color: #858585;
                    font-family: Montserrat;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 16.8px;
                    margin-top: 15px;
                }
            }
        }
    }

    .tich {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 4fr;
        padding: 20px;
        height: 80px;
        align-content: center;
        border-top: 1px solid #e8e8e8;

        .post {
            align-items: center;
            display: flex;

            p {
                color: #000000;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 600;
                margin: 0;
            }
        }

        .user {
            display: grid;
            grid-template-columns: 1fr 10fr;
            align-items: center;

            .img {
                height: 50px;

                img {
                    height: 100%;
                    width: auto;
                }
            }

            .text {
                p {
                    color: #010101;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 500;
                }

                span {
                    color: #858585;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            .text {
                margin: 0;
            }
        }
    }

    .chart {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #e8e8e8;
        padding: 10px 20px;

        .text {
            margin: 0;

            p {
                color: #000000;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 500;
                line-height: 36px;
                margin: 0;
            }
        }

        .diogram {
            p {
                margin: 0;
            }
        }

        .min-chart {
            width: 70px;
            height: 70px;
            margin: 0;

            .percent {
                line-height: unset;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
            }

            canvas {
                width: 70px;
                height: 70px;
            }
        }
    }
}

.pos_4 {
    height: 90px;
    border-top: 1px solid #e8e8e8;
    align-items: center;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text {
        margin: 0;
        display: grid;
        align-items: center;
        grid-template-columns: 3fr 1fr;

        p {
            color: #000000;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 500;
            line-height: 36px;
            margin: 0;
        }

        span {
            border-radius: 13px;
            background-color: #2ad474;
            padding: 3px 20px;
            color: #fefefe;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 600;
        }
    }

    .diogram {
        p {
            margin: 0;
        }
    }

    .min-chart {
        width: 70px;
        height: 70px;
        margin: 0;

        .percent {
            line-height: unset;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        canvas {
            width: 70px;
            height: 70px;
        }
    }
}

#ch_tutorial {
    .pos_4 {
        .text {
            p {
                color: #000000;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 500;
                line-height: 36px;
                margin: 0;
            }
        }
    }
}

#ch_tutorial {
    .colc_v2 {
        &.c_red {
            border-left: 5px solid #d0544d !important;
        }

        &.c_green {
            border-left: 5px solid #00df9a !important;
        }

        .text {
            .pos_1 {
                display: grid;
                grid-template-columns: 2fr 3fr;

                .button_green {
                    height: max-content;
                    margin-left: 40px;

                    p {
                        margin: 0;
                    }
                }

                .text_left {
                    p {
                        font-weight: 600 !important;
                    }

                    span {
                        font-weight: 600 !important;
                    }
                }
            }

            .pos_2 {
                text-align: center;
                display: flex;
                align-items: center;
            }
        }
    }
}

.mdb-select {
    border-radius: 23px;
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    padding: 0 15px;

    input {
        margin: 0 !important;
        border: 0 !important;
        height: auto !important;
        padding: 0 !important;
    }

    span {
        right: 15px !important;
    }
}

.parsent {
    z-index: 999999;
    top: -40px;
    position: absolute;
    width: 50px;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    height: 35px;
    left: -23px;
    display: none;

    p {
        margin: 0;
        padding: 0;
        line-height: normal;
        position: relative;
        bottom: 0;
        display: flex;
        align-items: center;
    }
}

input {
    border-radius: 23px;
    border: 1px solid #c4c4c4;
    background-color: #ffffff;
    padding: 10px;
    padding-left: 25px;
    height: 45px;

    &::placeholder {
        color: #595959;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 40px;
    }

    &:focus {
        outline: none;
    }
}

// Project css
#ch_user_anketa {
    padding-bottom: 100px;

    .text {
        @extend.global_text;
    }

    .card {
        padding: 25px;

        .text {
            margin: 0;
        }

        .line {
            height: 1px;
            background-color: #e8e8e8;
            margin: 35px 0;
        }
    }

    .info {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-gap: 30px;

        .user {
            .text {
                p {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                    margin-bottom: 70px;
                }
            }

            .photo {
                text-align: center;
                display: grid;
                justify-content: center;

                .img {
                    width: 121px;
                    height: 121px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-bottom: 20px;

                    p {
                        color: #fffefe;
                        font-family: Montserrat;
                        font-size: 65px;
                        font-weight: 500;
                        background-color: #00aeef;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                p {
                    color: #595959;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }

        .user_input {
            display: grid;
            grid-gap: 40px;

            .pos_1 {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 30px;
            }

            .pos_2 {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 30px;

                input {
                    width: 100%;
                }

                p {
                    color: #010101;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 500;
                }
            }

            .pos_3 {
                p {
                    color: #010101;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 500;
                }

                .input {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    width: 60%;
                    grid-gap: 30px;
                }
            }

            .pos_5 {
                p {
                    color: #010101;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 500;
                }

                .input {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    width: 100%;
                    grid-gap: 30px;
                }
            }
        }
    }

    .info_group {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-gap: 30px;

        .text {
            p {
                color: #000000;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                margin-bottom: 20px;
            }

            span {
                color: #000000;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
            }
        }

        .data_work {
            display: grid;
            grid-gap: 35px;

            p {
                color: #010101;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 10px;
            }

            .check {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            }
        }

        .time {
            .input {
                display: grid;
                grid-template-columns: 170px 170px;

                .input_cop_1 {
                    display: flex;
                    align-items: center;
                    height: 45px;

                    p {
                        margin-right: 20px;
                    }
                }
            }

            input {
                border-radius: 23px;
                border: 1px solid #c4c4c4;
                background-color: #ffffff;
                width: 100px;
                padding: 0;
                height: 45px;
                padding-left: 20px;
                box-shadow: unset;

                &::placeholder {
                    color: #595959;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 40px;
                }
            }

            p {
                color: #010101;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 500;
            }
        }

        .language {
            .mdb-select {
                width: 35%;
            }
        }
    }

    .button_blue {
        margin-top: 70px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
}

#ch_achievement {
    .achievement {
        display: grid;
        grid-gap: 30px;
        padding-bottom: 100px;
    }

    .text_main {
        @extend.global_text;
        margin-bottom: 0;
    }

    .dbl_card {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 30px;

        .text {
            p {
                color: #000000;
                font-family: Montserrat;
                font-size: 20px;
                font-weight: 500;
            }
        }

        .card {
            padding: 15px;
            padding-bottom: 30px;
        }

        .line_scroll {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            align-items: center;
            justify-content: center;
            height: 80%;

            .lines {
                width: 5px;
                height: 200px;
                border-radius: 3px;
                background-color: #e8e8e8;
                position: relative;
                text-align: center;
                display: flex;
                justify-content: center;
                margin: 0 auto;
                cursor: pointer;

                p {
                    position: absolute;
                    bottom: -50px;
                }

                .back_01 {
                    background: #ff9e51;
                    width: 100%;
                    height: 40%;
                    z-index: 99999;
                    position: absolute;
                    bottom: 0;

                    .parsent {
                        z-index: 999999;
                        top: -40px;
                        position: absolute;
                        width: 50px;
                        display: flex;
                        justify-content: center;
                        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
                        background-color: #ffffff;
                        height: 35px;
                        left: -23px;
                        display: none;

                        p {
                            margin: 0;
                            padding: 0;
                            line-height: normal;
                            position: relative;
                            bottom: 0;
                            display: flex;
                            align-items: center;
                        }
                    }

                    &:hover .parsent {
                        display: flex;
                    }
                }

                .back_02 {
                    @extend.back_01;
                    background: #ff5555;
                }

                .back_03 {
                    @extend.back_01;
                    background: #ff5555;
                }

                .back_04 {
                    @extend.back_01;
                    background: #ffd64d;
                }

                .back_05 {
                    @extend.back_01;
                    background: #ff9e51;
                }

                .back_06 {
                    @extend.back_01;
                    background: #2ad474;
                }

                .back_07 {
                    @extend.back_01;
                    background: #ffd64d;
                }

                .back_08 {
                    @extend.back_01;
                    background: #ffd64d;
                }

                .back_09 {
                    @extend.back_01;
                    background: #2ad474;
                }

                .back_10 {
                    @extend.back_01;
                    background: #2ad474;
                }
            }
        }

        .card_c2 {
            .dio_circle {
                display: grid;
                grid-template-columns: 2fr 1fr;
                align-items: center;
                border-bottom: 1px solid #e8e8e8;
                padding: 10px 0;

                .text {
                    p {
                        color: #9d9d9d;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                        margin: 0;
                    }

                    span {
                        color: #000000;
                        font-family: Montserrat;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }

                .dio {
                    p {
                        margin: 0;
                    }

                    .percent {
                        position: absolute;
                    }

                    span {
                        margin: 0;
                        width: 65px;
                        height: 65px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        float: right;

                        canvas {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    .card {
        .diogram_1 {
            padding: 30px;

            .text {
                p {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 25px;
                    margin: 0;
                    margin-bottom: -45px;
                }
            }

            .dio {
                .nav {
                    text-align: right;
                    float: right;
                    background: none !important;

                    li {
                        a {
                            font-family: Montserrat;
                            font-size: 14px;
                            font-weight: 500;
                            color: #858585;
                            text-transform: none;
                        }

                        a.active {
                            color: #000;
                            border: 0;
                        }
                    }
                }

                .tab-pane {
                    margin-top: 30px;
                }

                .tab-content {
                    border: 0 !important;
                }
            }
        }

        .user {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            text-align: center;
            padding: 35px;
            align-items: center;

            .people {
                .img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    overflow: hidden;
                    width: 120px;
                    height: 120px;
                    position: relative;
                    left: 50%;
                    transform: translate(-50%);

                    img {
                        width: 90%;
                    }

                    p {
                        color: #fffefe;
                        font-family: Montserrat;
                        font-size: 65px;
                        font-weight: 500;
                        background-color: #00aeef;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-transform: uppercase;
                        margin: 0;
                    }
                }

                .info {
                    width: 60%;
                    position: relative;
                    left: 50%;
                    transform: translate(-50%);

                    p {
                        color: #010101;
                        font-family: Montserrat;
                        font-size: 16px;
                        font-weight: 500;
                        margin: 0;
                        margin-top: 20px;
                    }
                }
            }

            .tutor {
                p {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 48px;
                    font-weight: 500;
                    margin-bottom: 0;
                    line-height: 40px;
                }

                span {
                    color: #858585;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            .pars {
                p {
                    color: #2ad474;
                    font-family: Montserrat;
                    font-size: 60px;
                    font-weight: 500;
                    margin-bottom: 0;
                    line-height: 40px;
                }

                span {
                    color: #858585;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            .level {
                p {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 48px;
                    font-weight: 500;
                    margin-bottom: 0;
                    line-height: 40px;
                }

                span {
                    color: #858585;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }

        .group {
            padding: 30px;

            .text {
                p {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 25px;
                    margin: 0;
                }
            }

            .list {
                table {
                    margin: 0;
                }

                thead.main {
                    th:nth-child(1) {
                        text-align: center;
                        width: 10%;
                        color: #858585;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                    }

                    th:nth-child(2) {
                        width: 50%;
                        color: #858585;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                    }

                    th:nth-child(3) {
                        width: 20%;
                        color: #858585;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                    }

                    th:nth-child(4) {
                        width: 20%;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }

                tbody {
                    .activ {
                        background: #f2fbfe;
                        border-top: 2px solid #00aeef;
                        border-color: #00aeef !important;
                        border-bottom: 2px solid #00aeef !important;
                    }

                    .one {
                        p {
                            color: #fed718;
                            border: 2px solid #fed718;
                            border-radius: 30px;
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    .twe {
                        p {
                            color: #c3c3c3;
                            border: 2px solid #c3c3c3;
                            border-radius: 30px;
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    .three {
                        p {
                            color: #cd7f31;
                            border: 2px solid #cd7f31;
                            border-radius: 30px;
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    p {
                        margin: 0;
                        height: 30px; //                        text-align: center;
                        //                        display: flex;
                        //                        align-items: center;
                        //                        justify-content: center;
                    }

                    th:nth-child(1) {
                        text-align: center;
                        color: #000000;
                        font-family: Montserrat;
                        font-size: 16px;
                        font-weight: 500;
                        align-items: center;
                        display: flex;
                        width: 100%;
                        justify-content: center;
                    }

                    td:nth-child(2) {
                        width: 50%;
                        color: #000000;
                        font-family: Montserrat;
                        font-size: 16px;
                        font-weight: 500;
                    }

                    td:nth-child(3) {
                        width: 20%;
                        color: #000000;
                        font-family: Montserrat;
                        font-size: 16px;
                        font-weight: 500;
                    }

                    td:nth-child(4) {
                        width: 20%;
                        color: #000000;
                        font-family: Montserrat;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    @extend.global_card;
}

#ch_tutorial {
    .tutorial_v2 {
        display: grid;
        grid-gap: 30px;
        padding-bottom: 100px;

        .text {
            margin-bottom: 0 !important;

            &_main {
                display: grid;
                grid-template-columns: 5fr 1fr;
            }
        }

        .pos_1 {
            .button_group {
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-gap: 15px;

                .button_grey {
                    margin-left: 40px;
                }

                .button_green {
                    margin-left: 5px;
                }
            }

            .button_red {
                margin-left: 40px;
            }
        }

        .pos_4 {
            .text {
                margin-bottom: 30px !important;
            }
        }
    }

    .md-accordion {
        h5 {
            color: #000000;
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 500;
            padding: 15px 30px;
        }
    }

    .future_tutorial {
        padding-bottom: 100px;

        .pos_1 {
            .text_left {
                padding-right: 70px;
            }
        }

        .pos_4 {
            .text {
                p {
                    line-height: 25px;

                    span {
                        color: #000000;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 24px;
                        background: none;
                        padding: 0;
                    }
                }
            }
        }
    }
}

#h_work {
    padding-bottom: 100px;

    .text {
        @extend.global_text;
        padding-right: 35px;
    }

    .card {
        @extend.global_card;

        .text {
            .pos_1 {
                padding-right: 50px;
            }

            .button_p {
                display: grid;
                grid-column-gap: 20px;
                grid-template-columns: 2fr 4fr;

                .button_grey {
                    @extend.button_grey;
                }
            }
        }
    }

    .tech {
        border-top: 1px solid #e8e8e8;
        padding: 10px 20px;
        display: grid;
        grid-template-columns: 1fr 4fr;

        .text {
            margin: 0;
            padding: 0;

            p {
                color: #0495cb;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 500;
                line-height: 36px;
            }
        }

        .example {
            display: flex;
            justify-content: center;
            padding: 80px 0;

            p {
                color: #000000;
                font-family: Montserrat;
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
            }

            .exa {
                width: 40%;
                text-align: center;

                .time {
                    p {
                        color: #010101;
                        font-family: Montserrat;
                        font-size: 12px;
                        font-weight: 600;
                        margin: 0;
                        line-height: 25px;
                    }

                    h2 {
                        color: #000000;
                        font-family: Montserrat;
                        font-size: 18px;
                        font-weight: 600;
                        margin: 0;
                        line-height: 5px;
                        margin-top: 10px;
                    }

                    span {
                        color: #828282;
                        font-family: Montserrat;
                        font-size: 12px;
                        font-weight: 600;
                    }
                }

                .assess {
                    p {
                        color: #010101;
                        font-family: Montserrat;
                        font-size: 12px;
                        font-weight: 600;
                        margin: 0;
                    }

                    span {
                        color: #000000;
                        font-family: Montserrat;
                        font-size: 18px;
                        font-weight: 600;
                    }
                }

                .exa_c {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }

    .tech_ok {
        grid-template-columns: 2fr 6fr 1fr;

        .example {
            .exa {
                width: 60%;

                .button_blue {
                    margin-top: 50px;
                    position: relative;
                    left: 50%;
                    transform: translate(-50%);

                    a {
                        color: #fff;
                    }
                }
            }
        }

        .time {
            text-align: right;

            p {
                color: #000000;
                font-family: Montserrat;
                font-weight: 600;
                margin: 0;
                margin-bottom: -5px;
            }

            span {
                color: #828282;
                font-family: Montserrat;
                font-size: 12px;
                font-weight: 600;
            }
        }
    }

    .tech_ok_c {
        .text {
            p {
                margin-bottom: 10px;
            }

            span {
                color: #858585;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
            }
        }

        .example {
            .exa {
                width: 100%;
                text-align: left;

                .if {
                    display: grid;
                    justify-content: left;
                    margin-top: 40px;
                }

                .button_group {
                    display: grid;
                    grid-template-columns: 200px 200px;
                    justify-content: center;
                    margin-top: 90px;

                    .button_blue {
                        left: 0;
                        transform: unset;
                        margin: 0;
                    }
                }

                .btn-group {
                    display: grid;
                    grid-template-columns: 200px 200px;
                    justify-content: center;

                    .btn-light-blue {
                        width: 150px;
                        text-align: right;
                        display: grid;
                        align-items: center;
                    }

                    span {
                        color: #010101;
                        font-family: Montserrat;
                        font-weight: 600;
                        line-height: 40px;
                        border: 1px solid #00aeef;
                        border-radius: 30px;
                        height: 90%;
                        width: 42px;
                        left: 2px;
                        position: absolute;
                        top: 2px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .active {
                        span {
                            color: #fff;
                            font-family: Montserrat;
                            font-weight: 600;
                            line-height: 40px;
                            background-color: #00aeef;
                            border-radius: 30px;
                            height: 90%;
                            width: 42px;
                            left: 2px;
                            position: absolute;
                            top: 2px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}

#ch_payment {
    padding-bottom: 100px;

    .text {
        margin-top: 40px;
        margin-bottom: 30px;

        p {
            color: #000000;
            font-family: Montserrat;
            font-size: 30px;
            font-weight: 500;
            margin: 0;
        }

        span {
            color: #858585;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 500;
        }
    }

    .card {
        padding: 35px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

        .tarif {
            display: grid;
            grid-gap: 40px;

            p {
                color: #000000;
                font-family: Montserrat;
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 30px;
            }
        }

        .week {
            p {
                color: #000000;
                font-family: Montserrat;
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 30px;
            }

            .button_week {
                display: grid;
                grid-template-columns: 1fr 2fr;

                .ranger {
                    p {
                        margin: 0;
                        color: #00aeef;
                        font-family: Montserrat;
                        font-weight: 600;
                        line-height: 27px;
                        border-radius: 23px;
                        border: 1px solid #00aeef;
                        background-color: #ffffff;
                        width: max-content;
                        padding: 10px 35px;
                    }

                    input {
                        width: 70%;
                    }
                }

                .price {
                    p {
                        color: #010101;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                        margin: 0;
                        margin-bottom: 10px;
                    }

                    span {
                        color: #868686;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                        text-decoration: line-through;
                    }

                    h2 {
                        color: #00aeef;
                        font-family: Montserrat;
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
            }
        }

        .paypal {
            .text {
                display: flex;
                margin: 0;
                padding-top: 40px;
                border-top: 1px solid #e8e8e8;
                align-items: center;
                margin-bottom: 60px;

                p {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 500;
                    margin: 0;
                    margin-right: 20px;
                }

                span {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 20px;
                    font-weight: 600;
                }
            }

            .button_blue {
                position: relative;
                left: 50%;
                transform: translate(-50%);

                a {
                    color: #fff;
                }
            }
        }
    }
}

#ch_cours {
    background: #f9f9f9;
    padding-bottom: 100px;

    .text_head {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;

        .text {
            margin-top: 40px;
            margin-bottom: 30px;

            p {
                color: #000000;
                font-family: Montserrat;
                font-size: 30px;
                font-weight: 500;
                margin: 0;
            }

            span {
                color: #858585;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 500;
            }
        }

        .input {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 30px;

            .mdb-select {
                border-radius: 23px;
                border: 1px solid #e8e8e8;
                background-color: #ffffff;
                padding: 0 15px;

                span {
                    right: 15px;
                    border-radius: 30px;
                    padding: 0;
                    padding-left: 15px;
                }

                input {
                    margin: 0;
                    border: 0;
                    height: auto;
                    padding: 0;
                }
            }
        }
    }

    .list_card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;

        .card {
            border-radius: 0;

            .text {
                padding: 35px;
                text-align: center;

                p {
                    color: #ffffff;
                    font-family: Montserrat;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 26px;
                }

                span {
                    color: #ffffff;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 26px;
                }
            }

            .list_work {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 20px;
                grid-row-gap: 5px;
                padding-bottom: 5px;

                p {
                    color: #606060;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                }

                span {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: normal;
                }
            }
        }

        .setup {
            padding-bottom: 30px;

            .text {
                margin: 0 20px;
                border-top: 1px solid #e6e6e6;
                padding: 0;
                display: grid;
                grid-template-columns: 1fr 1fr;
                text-align: left;
                padding: 30px 0;

                p {
                    color: #606060;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 26px;
                    margin: 0;
                }

                span {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 26px;
                }
            }

            .button_blue {
                position: relative;
                left: 50%;
                transform: translate(-50%);

                a {
                    color: #fff;
                }
            }
        }
    }

    .pagination {
        margin-top: 50px;
        display: flex;
        justify-content: center;

        ul {
            margin: 0;
        }

        .page-item {
            a {
                color: #858585;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                width: 28px;
                height: 28px;
            }

            i {
                font-size: 23px;
                color: #000;
            }

            &.right {
                margin: 0 20px;
            }

            &.left {
                margin: 0 20px;
            }
        }

        .page-item.active {
            a {
                color: #ffffff;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 700;
                line-height: normal;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                width: 28px;
                height: 28px;
                background: #00aeef;
            }
        }
    }
}

#ch_anketa {
    .text {
        margin-top: 40px;
        margin-bottom: 30px;

        p {
            color: #000000;
            font-family: Montserrat;
            font-size: 30px;
            font-weight: 500;
            margin: 0;
        }

        span {
            color: #858585;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 500;
        }
    }

    .card {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        background-color: #ffffff;
        padding: 30px 35px;
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: 3fr 9fr;

        .level {
            p {
                color: #858585;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 500;
                margin-top: 10px;
                margin-bottom: 25px;
            }

            a {
                color: #fff;
            }

            .mdb-select {
                border-radius: 23px;
                border: 1px solid #e8e8e8;
                background-color: #ffffff;
                width: 75%;

                .caret {
                    margin-right: 15px;
                }

                input {
                    padding: 15px;
                    width: 100%;
                    border: 0;
                    margin: 0;
                }
            }
        }

        .info {
            display: grid;
            grid-gap: 50px;

            .pos {
                h2 {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 24px;
                    margin-bottom: 20px;
                }

                p {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 26px;
                    margin-bottom: 5px;
                }

                li {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 30px;
                    list-style: url(../img/icons/1.png);
                }
            }
        }
    }
}

#ch_tutorial {
    .button_green {
        border-radius: 13px;
        background-color: #2ad474;
        width: max-content;

        p {
            color: #ffffff;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 600;
            padding: 5px 15px;
        }

        a {
            color: #ffffff;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 600;
            padding: 5px 15px;
            text-decoration: none;
        }
    }

    .text {
        margin-top: 40px;
        margin-bottom: 30px;

        p {
            color: #858585;
            font-family: Montserrat;
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 5px;
            line-height: normal;

            span {
                color: #000000;
                font-weight: 600;
            }
        }

        h2 {
            color: #000000;
            font-family: Montserrat;
            font-size: 30px;
            font-weight: 500;
        }
    }

    .card {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        padding: 0;
        border-radius: 3px;
        overflow: hidden;

        .colc {
            display: grid;
            grid-template-columns: 1fr 4fr;
            border-left: 5px solid #7e80e5;
            padding: 10px;

            .data {
                padding: 30px;

                .number {
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                    align-items: center;
                    margin-bottom: 30px;

                    h3 {
                        color: #000000;
                        font-family: Montserrat;
                        font-size: 48px;
                        font-weight: 500;
                        margin-right: 15px;
                        line-height: 0;
                    }

                    p {
                        color: #858585;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                        margin: 0;
                    }

                    span {
                        color: #010101;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }

                p {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 500;
                }
            }

            .text {
                margin: 0;
                padding: 30px 40px;
                display: grid;
                grid-template-columns: 7fr 2fr;
                border-left: 1px solid #dcdcdc;
                padding-right: 20px;

                .pos_1 {
                    .button_green {
                        @extend.button_green;
                        margin-bottom: 25px;
                    }

                    p {
                        color: #000000;
                        font-family: Montserrat;
                        font-size: 20px;
                        font-weight: 500;
                    }

                    span {
                        color: #000000;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 24px;
                    }
                }

                .pos_2 {
                    text-align: center;

                    a {
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 27px;
                    }

                    p {
                        color: #858585;
                        font-family: Montserrat;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 16.8px;
                        margin-top: 15px;
                    }
                }
            }
        }

        .tich {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 4fr;
            padding: 15px;
            height: 80px;
            align-content: center;
            border-top: 1px solid #e8e8e8;

            .post {
                align-items: center;
                display: flex;
                padding-left: 30px;

                p {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 600;
                    margin: 0;
                }
            }

            .user {
                display: grid;
                grid-template-columns: 1fr 10fr;
                align-items: center;

                .img {
                    height: 50px;

                    img {
                        height: 100%;
                        width: auto;
                    }
                }

                .text {
                    p {
                        color: #010101;
                        font-family: Montserrat;
                        font-size: 16px;
                        font-weight: 500;
                    }

                    span {
                        color: #858585;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }

                .text {
                    margin: 0;
                }
            }
        }
    }

    .center_p {
        p {
            color: #000000;
            font-family: Montserrat;
            font-size: 30px;
            font-weight: 500;
            margin: 0 30px 0;
        }
    }

    .card_1 {
        margin-bottom: 100px;
        padding: 10px;
        padding-bottom: 0;

        .pos_1 {
            padding: 0 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .text {
                margin: 0;

                p {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 36px;
                    margin: 0;
                }
            }

            .min-chart {
                width: 70px;
                height: 70px;
                margin: 0;

                .percent {
                    line-height: unset;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                }

                canvas {
                    width: 70px;
                    height: 70px;
                }
            }
        }

        .pos_2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 10px;
            padding: 30px 10px;
            border-top: 1px solid #e8e8e8;

            .text {
                margin: 0;

                p {
                    margin-bottom: 25px;
                    color: #0495cb;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 36px;
                    margin: 0;
                }

                span {
                    color: #858585;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 24px;
                }
            }

            .time {
                text-align: center;
                line-height: 15px;

                p {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 600;
                    margin: 0;
                }

                span {
                    color: #828282;
                    font-family: Montserrat;
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }

        .pos_3 {
            display: grid;
            grid-template-columns: 1fr 4fr;
            padding: 10px;

            .text {
                margin: 0;

                p {
                    color: #858585;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 24px;
                }
            }

            .otvet {
                .img {
                    .img_c {
                        display: flex;

                        img {
                            margin-left: 10px;
                        }
                    }

                    .button {
                        margin: 0;
                        justify-content: unset;

                        p {
                            color: #595959;
                            font-family: Montserrat;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 40px;
                            padding: 0 30px;
                            border-radius: 23px;
                            border: 1px solid #c4c4c4;
                            background-color: #ffffff;
                            margin-top: 20px;
                            width: max-content;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .button {
            display: flex;
            justify-content: center;
            margin-top: 70px;
            margin-bottom: 50px;

            &_white {
                border: 2px solid #00aeef;
                width: 160px;
                border-radius: 23px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                p {
                    color: #00aeef;
                    font-size: 14px;
                    font-weight: 400;
                    margin: 0;
                }

                &:hover {
                    background: #00aeef1a;
                }
            }

            &_blue {
                width: 160px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 30px;

                p {
                    color: #fff;
                    margin: 0;
                }
            }
        }

        .pos_4 {
            height: 90px;
            border-top: 1px solid #e8e8e8;
            align-items: center;
            @extend.pos_1;
        }
    }
}