@font-face {
    font-family: Montserrat;
    src: url('./../fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Montserrat-Semi;
    src: url('./../fonts/Montserrat-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('./../fonts/Montserrat-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Montserrat-Light;
    src: url('./../fonts/Montserrat-Light.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Montserrat-Black;
    src: url('./../fonts/Montserrat-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('./../fonts/Montserrat-Medium.ttf');
    font-weight: 700;
    font-style: normal;
}

.modal-backdrop.show {
    opacity: 0 !important;
    display: none !important;
}

.accordion .card .card-body {
    padding: 0;
    display: grid;
    grid-row-gap: 30px;
}

// .accordion .card .fa-angle-down {
//     position: absolute;
//     right: 0;
// }

body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

.modaling .time {
    .input {
        display: grid;
        grid-template-columns: 170px 170px;

        .input_cop_1 {
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
            height: 45px;

            p {
                margin-right: 20px;
            }

            input {
                border-radius: 23px;
                border: 1px solid #c4c4c4;
                background-color: #ffffff;
                width: 100px;
                padding: 0;
                height: 45px;
                padding-left: 20px;

                &::placeholder {
                    color: #595959;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 40px;
                }
            }

            &.date {
                input {
                    border-radius: 23px;
                    border: 1px solid #c4c4c4;
                    background-color: #ffffff;
                    width: 100px;
                    padding: 0;
                    height: 45px;
                    padding-left: 20px;

                    &::placeholder {
                        color: #595959;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 40px;
                    }
                }
            }
        }
    }

    p {
        color: #010101;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
    }
}

.button_blue {
    &.grey {
        background-color: #acacac;
        border: 2px solid #acacac;

        &:hover {
            border: 2px solid #acacac !important;
            background-color: #fff !important;
            transition: all .3s;
            color: #acacac !important;
            cursor: pointer;

            a {
                color: #acacac !important;
            }

            p {
                color: #acacac !important;
            }
        }
    }

    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    border-radius: 23px;
    background-color: #00aeef;
    width: 180px;
    height: 45px;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    text-decoration: none;
    border: 2px solid #00aeef;
    transition: all .3s;

    &:hover {
        border: 2px solid #00aeef;
        background-color: #fff;
        transition: all .3s;
        color: #00aeef !important;
        cursor: pointer;

        a {
            color: #00aeef !important;
        }

        p {
            color: #00aeef !important;
        }
    }
}

.footer_p {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

#ticher {
    #menu {
        #admin {
            &.ticher_menu {
                display: block;
            }

            &.children_menu {
                display: none;
            }
        }
    }
}

#menu {
    &.modal_menu {
        height: 0;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
    }
    .container {
        height: 100%;
        position: relative;
    }

    #sidebar {
        display: none;

        ul {
            display: none;
        }
    }

    @media screen and (max-width: 780px) {
        #sidebar {
            display: block;

            ul {
                display: block;
            }
        }
    }

    height: 80px;
    box-shadow: 0 3px 5px rgba(0,
    0,
    0,
    0.1);
    background-color: #ffffff;
    position: relative;
    z-index: 999;

    #admin {
        &.ticher_menu {
            display: none;

            .menu {
                display: grid;
                grid-template-columns: 2fr 6fr 1fr 2fr;

                ul {
                    display: grid;
                    grid-template-columns: 100px 100px 100px 100px 100px 100px;
                }
            }
        }

        height: 100%;

        .menu {
            display: grid;
            grid-template-columns: 2fr 5fr 1fr 1fr 2fr;
            height: 100%;
            -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

            ul {
                margin: 0;
                padding: 0;
                display: grid;
                grid-template-columns: 100px 100px 100px;

                li {
                    list-style: none;

                    a {
                        color: #000000;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 27px;

                        &:hover{
                            color: #00aeef;
                        }
                    }
                }
            }

            .day {
                display: flex;
                position: relative;
                cursor: pointer;
                height: 100%;
                -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

                &:hover{
                    .list_day {
                        display: block;
                    }
                }

                .list_day {
                    position: absolute;
                    top: 100%;
                    left: -60px;
                    display: none;
                    width: -webkit-max-content;
                    width: -moz-max-content;
                    width: max-content;
                    background: #fff;
                    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18),
                    0 4px 15px 0 rgba(0, 0, 0, .15);
                    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18),
                    0 4px 15px 0 rgba(0, 0, 0, .15);

                    .list_day_type{
                        padding: 10px 15px;
                        &.type_green{
                            background: #00df9a;
                        }
                        &.type_red {
                            background: #7e80e5;
                        }
                        &.type_violet {
                            background: #d0544d;
                        }
                    }
                    p{
                        color: #fff;
                        font-family: Montserrat;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 26px;

                        &.span{
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }

                }

                p {
                    color: #00aeef;
                    font-family: Montserrat;
                    font-size: 48px;
                    font-weight: 500;
                    line-height: 45px;
                    margin: 0;
                    margin-right: 10px;
                }

                span {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            .coloc {
                text-align: center;
                cursor: pointer;

                button {
                    width: 29px;
                    height: 30px;
                    border-radius: 30px;
                    padding: 0;
                    background-color: #fff !important;
                }

                span {
                    cursor: pointer;
                }
            }

            .user {
                display: flex;

                p {
                    color: #fffefe;
                    font-family: Montserrat;
                    font-size: 30px;
                    font-weight: 500;
                    width: 45px;
                    height: 45px;
                    background-color: #00aeef;
                    border-radius: 30px;
                    display: flex;
                    -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
                    justify-content: center;
                    margin: 0;
                    margin-right: 15px;
                    padding: 15px;
                    width: 45px;
                    height: 45px;
                    margin-left: 25px;
                    text-transform: uppercase;
                }

                span {
                    color: #010101;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
    }

    #ticher_menu {
        display: none;
    }

    .modal {
        overflow-x: unset;
        overflow: unset;
        padding: 0 !important;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;

        .modal-dialog {
            position: relative;
            top: 52px;
            right: 193px;
            transform: unset;
            float: right;
            width: 420px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            background-color: #ffffff;

            .modal-content {
                &::before {
                    content: "";
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    background: #00aeef;
                    top: -12px;
                    transform: rotate(45deg);
                    right: 45px;
                }
            }

            .modal-header {
                background: #00aeef;

                h5 {
                    color: #fffefe;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 19.2px;
                    margin: 0;
                }
            }

            .modal-body {
                .line {
                    height: 1px;
                    background-color: #e8e8e8;
                    margin: 15px 0;
                }

                p {
                    color: #000000;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 19.2px;
                    margin-bottom: 5px;
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                }

                span {
                    color: #858585;
                    font-family: Montserrat;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 19.2px;
                }

                a {
                    color: #0000ff;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19.2px;
                }
            }
        }
    }
}

#footer {
    padding: 40px 0;
    background-color: #3b3b3b;

    a {
        &:hover {
            color: #00aeef !important;
        }
    }

    p {
        @extend.footer_p;
    }

    .footer {
        display: grid;
        grid-template-columns: 3fr 2fr 2fr 4fr;

        .contact {
            display: grid;
            grid-row-gap: 20px;

            p {
                margin: 0;
            }

            img {
                width: auto;
                height: 14px;
                margin-right: 10px;
            }

            .number {
                display: flex;
                -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
                height: 20px;

                a {
                    color: #b9b9b9;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 28px;
                    text-decoration: none;
                }
            }

            .button_blue {
                a {
                    color: #ffffff;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 27px;
                }
            }

            .address {
                display: grid;
                grid-row-gap: 10px;

                p {
                    color: #b9b9b9;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 28px;
                    margin: 0;
                }

                a {
                    color: #b9b9b9;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 28px;
                    margin: 0;

                    &:hover {
                        color: #00aeef;
                    }
                }
            }
        }

        .iq {
            ul {
                padding: 0;
                display: grid;
                grid-gap: 10px;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: #b9b9b9;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 24px;
                    }
                }
            }
        }

        .r_colum {
            ul {
                padding: 0;
                display: grid;
                grid-gap: 10px;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: #b9b9b9;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 24px;
                    }
                }
            }
        }

        .podpis {
            position: relative;

            form {
                height: 45px;

                .input {
                    width: 100%;
                    height: 45px;
                    position: absolute;

                    input {
                        width: 100%;
                        height: 100%;
                        border-radius: 23px;
                        border: 1px solid #c4c4c4;
                        background-color: #ffffff;
                        padding: 15px;

                        &::placeholder {
                            color: #595959;
                            font-family: Montserrat;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 40px;
                        }

                        &:focus {
                            outline: none;
                        }
                    }

                    button {
                        @extend.button_blue;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 160px;
                    }
                }
            }

            .icon {
                margin-top: 35px;
                display: flex;

                img {
                    margin-right: 15px;
                }
            }
        }
    }
}