
.cart_green {
    display: grid;
    grid-template-columns: 1fr 7fr;
    height: 98%;
    background: #e6fff7;
    border-left: 3px solid #00df9a;
    padding: 7px 15px;
    border-radius: 3px;

    p {
        color: #000000;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 10px;
        margin-bottom: 10px;
    }

    span {
        color: #454545;
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 500;
    }
}

.cart_green_v2 {
    height: auto;
    width: 98%;
    background: #e6fff7;
    border-left: 3px solid #00df9a;
    padding: 7px 15px;
    border-radius: 3px;
    margin: 2px 0;

    p {
        color: #000000;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 10px;
        margin-bottom: 10px;
    }

    span {
        color: #454545;
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 500;
    }
}

.cart_red {
    display: grid;
    grid-template-columns: 1fr 7fr;
    height: 98%;
    background: #ffebea;
    border-left: 3px solid #d0544d;
    padding: 7px 15px;
    border-radius: 3px;

    p {
        color: #000000;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 10px;
        margin-bottom: 10px;
    }

    span {
        color: #454545;
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 500;
    }
}

.cart_red_v2 {
    height: auto;
    width: 98%;
    background: #ffebea;
    border-left: 3px solid #d0544d;
    padding: 7px 15px;
    border-radius: 3px;
    margin: 2px 0;

    p {
        color: #000000;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 10px;
        margin-bottom: 10px;
    }

    span {
        color: #454545;
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 500;
    }
}

th.activ {
    color: #00aeef !important;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
}

#ticher {
    .teacher {
        padding-bottom: 100px;
    }

    .text {
        padding: 30px 0;
        display: flex;
        align-items: center;
        margin-bottom: -80px;

        i {
            font-size: 20px;
        }

        p {
            color: #000000;
            font-family: Montserrat;
            font-size: 30px;
            font-weight: 500;
            margin: 0;
            margin: 0 25px;
        }
    }

    .tags_teacher {
        .tabs-cyan {
            float: right;
            border-radius: 30px;
            background: #ededed !important;

            li {
                &:first-child {
                    margin: 0 !important;
                }

                a {
                    color: #908f8f;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 27px;
                    height: 45px;
                    width: 130px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: none;

                    &.active {
                        height: 45px;
                        border-radius: 22px;
                        background-color: #00aeef;
                        border: 0;
                        width: 130px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #ffffff;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 27px;
                    }
                }
            }

        }

        .tab-content {
            padding-top: 90px;
            border: 0 !important;
            padding-right: 0;
            padding-left: 0;

            .tab-pane {
                box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                background-color: #ffffff;
                padding-bottom: 50px;
            }

            #panel1001 {
                .teacher_tab {
                    .table {
                        tbody {
                            tr {
                                th:nth-child(1) {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }

            #panel1002 {
                .teacher_tab {
                    .table {
                        tbody {
                            th {
                                width: 150px;
                                border-left: 1px solid #dbdbdb;
                                padding: 0;
                            }

                            th:nth-child(1) {
                                width: 100px;
                                border: 0;
                            }
                        }

                        thead {
                            th:nth-child(1) {
                                width: 100px;
                            }

                            th {
                                width: 150px;
                                border-left: 0;
                                text-align: center;
                                color: #767676;
                                font-family: Montserrat;
                                font-size: 13px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }

            #panel1003 {
                padding-bottom: 0;

                .teacher_tab {
                    .table {
                        tbody {
                            th {
                                width: 14%;
                                border: 1px solid #dbdbdb;
                                padding: 3px;
                                height: 160px;

                                .num {
                                    text-align: right;

                                    span {
                                        color: #868686;
                                        font-family: Montserrat;
                                        font-size: 16px;
                                        font-weight: 600;
                                        text-align: right;
                                        padding-right: 10px;
                                    }

                                    p {
                                        color: #000000;
                                        font-family: Montserrat;
                                        font-size: 16px;
                                        font-weight: 600;
                                        text-align: right;
                                        padding-right: 10px;
                                    }
                                }
                            }

                            th:nth-child(1) {
                                position: relative;
                                border-left: 0;

                                .num {
                                    text-align: right;

                                    span {
                                        color: #868686;
                                        font-family: Montserrat;
                                        font-weight: 600;
                                        text-align: right;
                                        padding-right: 10px;
                                    }

                                    p {
                                        color: #000000;
                                        font-family: Montserrat;
                                        font-size: 16px;
                                        font-weight: 600;
                                        text-align: right;
                                        padding-right: 10px;
                                    }
                                }
                            }

                            th:nth-child(7) {
                                border-right: 0;
                            }
                        }

                        thead {
                            th {
                                width: 14%;
                                color: #767676;
                                font-family: Montserrat;
                                font-size: 13px;
                                font-weight: 600;
                                text-align: center;
                            }
                        }
                    }
                }

            }

            .teacher_tab {
                .table {
                    thead {
                        tr {
                            th {
                                &:nth-child(1) {
                                    width: 7%;
                                    text-align: center;
                                    color: #767676;
                                    font-family: Montserrat;
                                    font-size: 13px;
                                    font-weight: 600;
                                }

                                &:nth-child(2) {
                                    color: #00aeef;
                                    font-family: Montserrat;
                                    font-size: 13px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }

                    tbody {
                        tr {
                            .cart_green_v2 {
                                height: auto;
                                width: 97%;
                                margin: auto auto;
                                margin-top: 1px;
                            }

                            .cart_red_v2 {
                                height: auto;
                                width: 97%;
                                margin: auto auto;
                                margin-top: 1px;
                            }

                            th {
                                &:nth-child(1) {
                                    width: 7%;
                                    text-align: center;
                                    border: 0;
                                    padding: 0;
                                    padding-top: 60px;
                                    position: absolute;
                                    height: 70px;
                                    color: #767676;
                                    font-family: Montserrat;
                                    font-size: 13px;
                                    font-weight: 600;
                                    margin-top: 62px;
                                }

                                &:nth-child(2) {
                                    border-left: 1px solid #dbdbdb;
                                    height: 70px;
                                    padding: 3px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}